In [3]:
from finder import FinderScript

start = FinderScript()
start.main()

Searching...

browsing on Bing
Results: 8
browsing on Yahoo
Results: 22
browsing on Google
Results: 16
browsing on DuckDuckGo
Results: 10

In [6]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Braund, Mr. Owen Harris", "Allen, Mr. William Henry", "Bonnell, Miss. Elizabeth"],
    "Age": [22, 35, 58],
    "Sex": ["male", "male", "female"]}
)

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female